<p>singup works!</p>
{{title}}
<div class="signup" *ngIf="!confirmationDiv">
  <p>登録する情報を入力してください</p>
  <div class="singup-input">Eメール: <input type="email" placeholder="email" id="email" name="email" #email></div>
  <div class="singup-input">ユーザーID: <input type="text" placeholder="ユーザーID" id="userid" name="userid"
    #userid></div>
  <!-- <div class="singup-input">ユーザー名: <input type="text" placeholder="ユーザー名" id="username" name="username"
      #username></div> -->
  <div class="singup-input">パスワード: <input type="password" placeholder="password" id="password" name="password"
    #password></div>
  <p class="error">{{dispMsg}}</p>
  <button type="submit" (click)="onSignup(email.value, password.value,userid.value)">送信</button>
</div>

<div class="confirmation" *ngIf="confirmationDiv">
  <p>登録した「ユーザー名」と登録メールアドレスに届いた「Confirmation Code(登録コード)」を入力してください</p>
  <div class="confirmation-input">ユーザー名: <input type="name" placeholder="name" id="name" name="name" #name></div>
  <div class="confirmation-input">Confirmation Code: <input type="text" placeholder="confirmationCode" id="confirmationCode" name="confirmationCode" #confirmationCode></div>
  <p class="error">{{dispMsg}}</p>
  <button type="submit" (click)="onConfirmation(name.value, confirmationCode.value)">送信</button> <!-- </form> -->
</div>

<input type="button" class="btn-border" on-click="goBack()" value="トップに戻る">

